<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Krustan</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/all.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Merienda:400,700" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="row" style="margin-top:10px;">
        <div class="col">
            <ul class="nav justify-content-start">
                <li class="nav-item">
                    <a class="nav-link" style="color:#A1BEB4; font-size:1.5rem;" asp-controller="Account" asp-action="Profile">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:#A1BEB4; font-size:1.5rem;" asp-controller="Account" asp-action="Profile">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:#A1BEB4; font-size:1.5rem;" asp-controller="Account" asp-action="Profile">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col">
            <div align="center" style="justify-content:center; align-content:center; color:#043B40;">
                <h1 style="font-family: 'Merienda', cursive; font-size:1.8rem;">Krustan</h1>
            </div>
        </div>
        <div class="col">
            <ul class="nav justify-content-end">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" style="color:#009d2a; font-size:1.5rem;" asp-controller="Dogs" asp-action="Create">
                            <i class="fas fa-plus-circle"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#276A73; font-size:1.5rem;" asp-controller="Account" asp-action="Profile">
                            <i class="fas fa-user-circle"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#276A73; font-size:1.5rem;" asp-controller="Account" asp-action="Logout">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" style="color:#276A73; font-size:1.5rem;" asp-controller="Account" asp-action="Login">
                            <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <ul class="nav justify-content-center" style="padding:7px;background-color:#043B40">
        <li class="nav-item" 
            style="color:white; padding:3px; border:solid white 2px; margin-left:4px;margin-right:4px;">
            <a class="nav-link active" style="color:white;" asp-action="Index" asp-controller="Home">Home</a>
        </li>
        <li class="nav-item" style="color:white; padding:3px; border:solid white 2px; margin-left:4px;margin-right:4px;">
            <a class="nav-link" style="color:white;" asp-action="Index" asp-controller="Dogs">View dogs</a>
        </li>
    </ul>
    <br />
    <div class="container">
        @RenderBody()
    </div>
    <div style="padding:10px;margin-top:30px;" align="center">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                Krustan 2018 &copy; - All rights reserved.
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <environment include="Development">
        <script src="~/js/jquery.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="~/js/site.js"></script>
        <script type="text/javascript">
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#blah').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#DogPicture").change(function () {
                readURL(this);
            });
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
