$color1: #043B40;
$color2: #276A73;
$color3: #20A69A;
$color4: #A1BEB4;
$color5: #F1E2CB;

.mainMenu {
    padding: 7px;
    background-color: #043B40;

    li {
        color: white;
        padding: 3px;
        border: solid white 2px;
        margin-left: 4px;
        margin-right: 4px;
    }
}

